:root {
	--background-color: #ffffff;
	/* main background*/
	--font-color: #393939;
	/* main text color */
	--lighter-font: #525252;
	--darker-font: var(--font-color);

	/* Light mode colors */
	--light-accent-color: var(--background-color);
	--light-accent-gradient-1: #979797;
	--light-accent-gradient-2: var(--font-color);

	--darker-box-color: #e4e4e4;
	--lighter-box-color: #f1f1f1;

	--normal-link-accent: #e1e1e1;
	--active-link-accent: #696969;

	--switch-off-color: var(--normal-link-accent);
	--switch-on-color: var(--active-link-accent);
}

body {
	background: var(--background-color);
	color: var(--font-color);
	height: auto;
	width: auto;
	margin: 0 auto 0 auto;
}

nav.navbar {
	height: auto;
	padding: 10px 10% 10px 10px;
	margin: 0 0 auto 0;
	text-align: right;
	border-bottom: 2.25px solid;
	background:
		/* gradient can be an image */
		linear-gradient(to bottom,
			var(--light-accent-color) 0%,
			var(--light-accent-gradient-1) 65%,
			var(--light-accent-gradient-2) 100%) bottom no-repeat;
	background-size: 100% 8px;
}

nav>a {
	color: var(--font-color);
	padding: 0 .5em 0 .5em;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	font-family: Arial;
}

nav>a.activeheader {
	color: var(--active-link-accent);
	pointer-events: none;
	text-decoration: underline;
	font-weight: 100;
}

nav>a:hover {
	text-decoration: underline;
	color: var(--active-link-accent);
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--switch-off-color);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 2px;
	bottom: 2px;
	background-color: var(--background-color);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: var(--switch-on-color);
}

input:focus+.slider {
	box-shadow: 0 0 1px var(--background-color);
}

input:checked+.slider:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.maintitle {
	font-size: 45px;
	text-align: left;
	font-family: Trebuchet MS, serif;
	letter-spacing: -2px;
	line-height: 1.2;
	margin: auto auto 0 0;
	padding-right: 30px;
}

.d-mainbox {
	background: var(--darker-box-color);
	color: var(--lighter-font) !important;
}

.l-mainbox {
	background: var(--lighter-box-color);
	color: var(--darker-font) !important;

}

.mainbox {
	width: auto;
	margin: 0 15%;
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: left;
	overflow: hidden;
}

.mainbox-sm {
	width: auto;
	height: 80px;
	margin: 0 15%;
	text-align: left;
	overflow: hidden;
}

.sectiontitle {
	text-align: left;
	font-family: Trebuchet MS, serif;
	letter-spacing: -0.5px;
	margin: 10px auto auto auto;
	text-shadow: none;
}

a.sectiontitle {
	color: var(--font-color);
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 0 .5em 0 .5em;
	text-decoration: double;
	font-size: 1em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

a.sectiontitle:hover {
	text-decoration: underline;
}

.subtitle {
	font-size: 18px;
	text-align: left;
	font-family: Trebuchet MS, sans-serif;
	margin: auto auto 0 10px;
	padding-bottom: 10px;
}

.contentbox {
	color: inherit;
	width: auto;
	padding: 5px 10px -10px 10px;
}

.contentbox>a {
	color: var(--font-color);
}

.contentbox>a:active {
	color: var(--light-accent-color);
}

.contentbox>a:hover {
	color: var(--hover-link-accent);
}

.ul-contentbox {
	padding: 5px 10px;
	color: inherit;
}

.cfrasier-news {
	border: 3.5px solid var(--darker-box-color);
	color: inherit;
	background: var(--background-color);
	border-radius: 5px 5px;
	padding: 5px 20px;
	list-style: disc;
}

.cfrasier-cv {
	border: 3.5px solid var(--darker-box-color);
	background: var(--background-color);
	color: inherit;
	border-radius: 5px 5px;
	font-size: 15px;
	width: 90%;
	padding: 5px 10px 5px 20px;
	list-style: disc;
}

.news-li {
	margin: 0 0 10px 0;
	color: inherit;
}

.news-li>i {
	letter-spacing: 0.35px;
}

.socialbox {
	display: flex;
	text-align: left;
	padding: 10px 10px;
}

.socialbox>a>img {
	height: 75px;
}

.flex-box {
	display: flex;
	background-color: var(--darker-box-color);
	font: var(--lighter-font) !important;
	margin: 0 0;
	padding: 0 18%;
	padding-bottom: 20px;
}

.chaddimgbox {
	text-align: right;
	margin: 1em 0 0 auto;
	height: 100%;
}

.chaddimgbox>img {
	height: 200px;
}

.contactBox {
	width: auto;
	text-align: left;
	margin: 0 auto 0 5rem;
	letter-spacing: 1px;
}

.contactBox>.line {
	padding-bottom: 4px;
	padding-left: 4px;
}

/* Dynamics */
@media only screen and (max-width: 1100px) {
	.socialbox {
		display: block;
		text-align: left;
	}

	.socialbox>a>img {
		height: 60px;
	}

	.contactBox {
		width: auto;
		text-align: left;
		margin: 0 auto 0 1rem;
		letter-spacing: 1px;
	}

	.maintitle {
		font-size: 35px;
	}

}

@media only screen and (max-width: 680px) {
	.flex-box {
		display: block !important;
	}

	.socialbox {
		display: block;
		text-align: center;
		margin: 10px auto 20px 5%;
	}

	.socialbox>a>img {
		height: 50px;
	}

	.contactBox {
		width: auto;
		text-align: center;
	}

	.chaddimgbox {
		text-align: center;
		margin: auto 0 0 auto;
	}

	.maintitle {
		text-align: center;
		font-size: 30px;
	}

	.subtitle {
		text-align: center;
		font-size: 15px;
	}
}