:root {
	--background-color: #0D0221;
	--dark-accent-color: #0F084B;
	--dark-light-accent-color: #26408B;
	--light-accent-color: #C2E7D9;

	--font-color: #A6CFD5;
	--dark-content-box-color: #0e0a33;
	--light-content-box-color: #0e0a38;
}

body {
	background: var(--background-color);
	height: auto;
	width: auto;
	margin: 0 auto 0 auto;
	color: var(--font-color);
}

.body-holder {
	width: auto;
	margin: auto auto;
}

p {
	color: var(--font-color)
}

nav.navbar {
	height: auto;
	padding: 5px 10% 6px 10px;
	margin: 0 0 auto 0;
	text-align: right;
	color: var(--font-color);
	border-bottom: 2.25px solid;
	background: /* gradient can be an image */
    linear-gradient(
      to bottom, 
      var(--dark-accent-color) 0%,
      var(--dark-light-accent-color) 77%,
      var(--dark-accent-color) 100%
    ) 
    bottom
    no-repeat;
  background-size:100% 5px;
}

nav>a:active {
	text-decoration: underline;
}

nav > a {
	color: var(--font-color);
	padding: 0 .5em 0 .5em;
	text-decoration: none;
	font-size: 1em;
	font-family: Arial;
}

nav>a.activeheader, nav>a.activeheader:hover {
	color: var(--dark-light-accent-color);
	pointer-events: none;
}

nav>a:hover {
	text-decoration: underline;
	color: var(--light-accent-color);
}

.maintitle {
	font-size: 45px;
	text-align: left;
	font-family: Trebuchet MS, serif;
	letter-spacing: -2px;
	line-height: 1.2;
	margin: auto auto 0 0;
}

.d-mainbox {
	background: var(--dark-content-box-color);
}

.l-mainbox {
	background: var(--light-content-box-color);
}

.mainbox {
	width: auto;
	margin: 0 18%;
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: left;
	overflow: hidden;
	color: var(--font-color)
}

.mainbox-sm {
	width: auto;
	height: 80px;
	margin: 0 18%;
	text-align: left;
	overflow: hidden;
	color: var(--font-color)
}

.sectiontitle {
	text-align: left;
	font-family: Trebuchet MS, serif;
	letter-spacing: -0.5px;
	margin: 10px auto auto auto;
	color: var(--dark-light-accent-color);
	text-shadow: none;
}

a.sectiontitle {
	text-align: center;
	margin: 0 auto 0 auto;
	color: var(--font-color);
	padding: 0 .5em 0 .5em;
	text-decoration: double;
	font-size: 1em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.subtitle{
	font-size: 18px;
	text-align: left;
	font-family: Trebuchet MS, sans-serif;
	margin: auto auto 0 10px;
}

.contentbox {
	color: var(--font-color);
	width: auto;
	padding: 5px 10px -10px 10px;
}

.contentbox > a  {
	color: var(--font-color);
}

.contentbox > a:active, .contentbox > a:visited {
	color: var(--dark-light-accent-color);
}

.contentbox > a:hover {
	color: var(---dark-accent-color);
}

.ul-contentbox {
	padding: 5px 10px;
}

.cfrasier-ul {
	border: 3.5px solid var(--light-accent-color);
	border-radius: 5px 5px;
	padding: 5px 20px;
	list-style: disc;
}

.cfrasier-cv {
	border: 3.5px solid var(--dark-light-accent-color);
	background: var(--light-accent-color);
	color: var(--dark-accent-color);
	border-radius: 5px 5px;
	font-size: 15px;
	width: 90%;
	padding: 5px 10px 5px 20px;
	list-style: disc;
}

.news-li {
	margin: 0 0 10px 0;
}

.news-li > i {
	letter-spacing: 0.35px;
}

.socialbox {
	display: flex;
	text-align: left;
	margin: -120px auto 20px 17%; 
}

.flex-box {
	display: flex;
	margin: 0 18%;
}

.chaddimgbox {
	text-align: right;
	margin: 1em 0 0 auto;
}

.contactBox {
	width: auto;
	text-align: left;
	margin: 0 auto 0 5rem;
	letter-spacing: 1px;
} 

/* Dynamics */
@media only screen and (max-width: 1100px)
{
	.socialbox {
		display: block;
		text-align: left;
		margin: -120px auto 20px 5%; 
	}

	.contactBox {
		width: auto;
		text-align: left;
		margin: 0 auto 0 1rem;
		letter-spacing: 1px;
	} 
}

@media only screen and (max-width: 680px)
{
	.flex-box {
		display: block !important;
	}

	.socialbox {
		display: block;
		text-align: center;
		margin: 10px auto 20px 5%; 
	}

	.contactBox {
		width: auto;
		text-align: center;
	} 

	.chaddimgbox {
		text-align: center;
		margin: auto 0 0 auto;
	}

	.maintitle {
		text-align: center;
	}

	.subtitle {
		text-align: center;
	}
}